APP_NAME=ArtConnect
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-app.up.railway.app

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=your-railway-mysql-host
DB_PORT=3306
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=your-password

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

# Cloudinary
CLOUDINARY_CLOUD_NAME=dedjnhyer
CLOUDINARY_API_KEY=484415616692644
CLOUDINARY_API_SECRET=RK17xKcjg0ZYsS6jeenIKCRTY8c
CLOUDINARY_URL=cloudinary://484415616692644:RK17xKcjg0ZYsS6jeenIKCRTY8c@dedjnhyer
